.title-sidebar {
  transition: min-width 0.3s ease-in-out, max-width 0.3s ease-in-out, margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
  z-index: 1038;
  grid-area: main-sidebar;
  min-width: var(--lte-sidebar-width);
  max-width: var(--lte-sidebar-width);
}

.sidebar-bg-dark .sidebar label,span {
  color: var(--lte-sidebar-dark-color);
}

.sidebar .shiny-input-container {
    max-width: var(--lte-sidebar-width);
    width: max-width: var(--lte-sidebar-width);
}

.tab-content .nav {
    padding-left: calc(var(--bs-gutter-x) * .5)
}

@media (min-width: 992px) {
  .layout-fixed:not(.sidebar-horizontal) .title-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto !important;
    float: none;
  }
}